*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(219, 118, 23);
}
header{
    background-color: brown;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px black;
}
#texto1{
    margin-top: 25px;
    width: 80%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: justify;
}
#p_texto1{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 2em;
}
#imagen1{
    margin-top: 25px;
    width: 20%;
    float: right;
}
#separacion{
    clear: both;
}
#texto2{
    margin-top: 25px;
    width: 75%;
    float: right;
    font-size: 200%;
    text-align: justify;
}
#p_texto2{
    margin-top: 25px;
    text-align: center;
}
#imagen2{
    margin-top: 100px;
    width: 25%;
    float: left;
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenes{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main{
    height: 100%;
    width: 70%;
    padding: 10px;
}
aside{
    height: 100%;
    width: 30%;
}
video{
    width: 100%;
    height: 70%;
}
footer{
    box-shadow: 0 -2px 4px black;
    background-color: beige;
    text-align: center;
}
ul{
    text-align: center;
}